<script>
    import { auth } from "../auth"
    import { login } from "../firebase"

    export let name

    function penetrateGoogleSheets() {
        console.log("Got here")
        gapi.client.sheets.spreadsheets.values.get({
            // spreadsheetId: "1QtK3aCyl7OEeY1kF8K93fA9G33vkB4bOpuKp1aaSaJA",
            spreadsheetId: "1-jk4kMZKw6YstTsrar-CJnmwzZfhbz03DGQ3-FDCyDw",
            range: "Лист1!A1:D",
        }).then(function (response) {
            console.log("Got here too")
            const range = response.result
            console.log(response)
        }, function (response) {
            console.error(response)
        })
    }
</script>

<style>
    .flex-center {
        display: flex;
        align-items: center;
    }
</style>

<h1>Hello {name}!</h1>
{#if !$auth }
    <button on:click="{login}">Login</button>
{:else}
    <div class="flex-center">
        <img src="{$auth.user.photoURL}" alt="user photo" style="width: 2em; height: 2em; border-radius: 50%"/>
        <span>{ $auth.user.displayName }</span>
    </div>
{/if}
