<script>
    import { firebaseApp } from "../firebase"


    // let homeworks = [
    //     {
    //         deadline: new Date(),
    //         descriptionUrl: "https://www.notion.so/Third-Homework-Objects-Functions-Scopes-Collections-e25d074f6fe64605bf18855bca3472d9",
    //         class: "my_class"
    //     },
    //     {
    //         deadline: new Date(),
    //         descriptionUrl: "https://www.notion.so/Second-Homework-PEP-8-PR-d24a149704e342db89053a9c11348fd8",
    //         class: "my_class"
    //     }
    // ]
    let descriptionUrl
    let date
    let time

    function postHomework() {
        // TODO Add validation somewhere
        const deadline = new Date(`${date}T${time}`)
        firebaseApp.db.collection("homeworks").add({
            descriptionUrl,
            deadline,
            // TODO class should be taken from somewhere
            class: "my_class"
        }).then(function (docRef) {
            console.log("Document written with ID: ", docRef.id)
        }).catch(function (error) {
            console.error("Error adding document: ", error)
        })
    }

    function fetchHomeworks() {
        return firebaseApp.db.collection("homeworks").where("class", "==", "my_class")
                .get()
                .then(querySnapshot => {
                    querySnapshot.forEach(doc => {
                        // doc.data() is never undefined for query doc snapshots
                        console.log(doc.id, " => ", doc.data())
                    })
                    return querySnapshot.docs.map(it => it.data())
                })
                .catch(error => {
                    console.log("Error getting documents: ", error)
                })
    }

    let homeworksPromise = fetchHomeworks()
</script>

<style>
    .homeworks {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
</style>

<div class="homeworks">
    {#await homeworksPromise}
        <p>...waiting</p>
    {:then homeworks}
        <ul class="homeworks-list">
            {#each homeworks as homework}
                <li>
                    <a href={homework.descriptionUrl}>Description</a>
                    <span>{ homework.deadline }</span>
                </li>
            {/each}
        </ul>
    {:catch error}
        <p style="color: red">{error.message}</p>
    {/await}

    <div class="new-homework-form">
        <div>
            <input type="text" bind:value={descriptionUrl} placeholder="Description url"/>
        </div>
        <div>
            <input type="date" bind:value={date}/>
            <input type="time" bind:value={time}/>
        </div>
        <button on:click={postHomework}>
            Add new homework
        </button>
    </div>
</div>