<script>
    let firstName
    let secondName
    let stepikId
    let githubRepoUrl

    function signUp() {
        console.debug("Sign up with", {
            firstName,
            secondName,
            stepikId,
            githubRepoUrl
        })
    }
</script>

<form name="signUpForm" on:submit|preventDefault="{signUp}">
    <div>
        <input bind:value={firstName} type="text" placeholder="First Name" required/>
        <input bind:value={secondName} type="text" placeholder="Second Name" required/>
        <input bind:value={stepikId} type="text" placeholder="Stepik ID" required>
        <input bind:value={githubRepoUrl} type="text" placeholder="GitHub Repository Url" required>
    </div>
    <button type="submit">Sign Up</button>
</form>