<script>
    import Router, { push } from "svelte-spa-router"
    import Home from "./routes/Home.svelte"
    import SignUp from "./routes/SignUp.svelte"
    import Homeworks from "./routes/Homeworks.svelte"


    const routes = {
        "/": Home,
        "/signUp": SignUp,
        "/homeworks": Homeworks,
    }
</script>


<button on:click={() => push("/")}>Home</button>
<button on:click={() => push('/signUp')}>Sign Up</button>
<button on:click={() => push('/homeworks')}>Homeworks</button>
<div>
    <Router {routes}></Router>
</div>